/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,500,700);
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, sass/_utilities.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, sass/_utilities.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, sass/_utilities.scss */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 17, sass/_utilities.scss */
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

/* line 22, sass/_utilities.scss */
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/* line 1, sass/_type.scss */
body {
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  line-height: 1.5;
  font-weight: 300;
}

/* line 10, sass/_type.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 22, sass/_type.scss */
h1 {
  font-size: 2.925em;
}

/* line 26, sass/_type.scss */
h2 {
  font-size: 2.6em;
}

/* line 30, sass/_type.scss */
h3 {
  font-size: 2.275em;
}

/* line 34, sass/_type.scss */
h4 {
  font-size: 1.95em;
}

/* line 38, sass/_type.scss */
h5 {
  font-size: 1.625em;
}

/* line 42, sass/_type.scss */
h6 {
  font-size: 1.3em;
}

/* line 46, sass/_type.scss */
p {
  font-size: 1.3em;
  font-weight: 400;
}

/* line 51, sass/_type.scss */
a {
  color: #477DCA;
  text-decoration: none;
}
/* line 55, sass/_type.scss */
a:hover {
  color: #2c5999;
}
/* line 59, sass/_type.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 1, sass/_base.scss */
.content {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0px;
  padding-right: 0px;
  float: right;
}
@media (min-width: 768px) {
  /* line 1, sass/_base.scss */
  .content {
    width: 75%;
  }
}
@media (min-width: 992px) {
  /* line 1, sass/_base.scss */
  .content {
    width: 75%;
  }
}

/* line 11, sass/_base.scss */
.sub-nav {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
  font-size: 2rem;
  border-bottom: 1px solid #cecece;
}
/* line 17, sass/_base.scss */
.sub-nav a {
  color: #000;
  text-decoration: none;
}
/* line 21, sass/_base.scss */
.sub-nav a:hover {
  text-decoration: none;
  color: #6982D9;
}

/* line 27, sass/_base.scss */
.hero {
  background: url("../img/hero.jpg") no-repeat center;
  height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 36, sass/_base.scss */
.sale {
  background-color: #FB4B4B;
  text-align: center;
  padding: 12px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  font-weight: 300;
}

/* line 47, sass/_base.scss */
.cart {
  padding: 0px 5px;
}

/* line 52, sass/_base.scss */
.checkout {
  background-color: #2A2A2A;
  color: #fff;
  text-align: center;
  width: 130px;
  padding: 10px 40px;
}
/* line 58, sass/_base.scss */
.checkout a {
  color: #fff;
}

/* line 63, sass/_base.scss */
.home-catalog {
  margin-top: 20px;
}
/* line 14, sass/_mixins.scss */
.home-catalog:before, .home-catalog:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.home-catalog:after {
  clear: both;
}
/* line 67, sass/_base.scss */
.home-catalog .home-item {
  position: relative;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 67, sass/_base.scss */
  .home-catalog .home-item {
    width: 33.33333%;
  }
}
@media (min-width: 992px) {
  /* line 67, sass/_base.scss */
  .home-catalog .home-item {
    width: 33.33333%;
  }
}
/* line 74, sass/_base.scss */
.home-catalog .home-item img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
/* line 77, sass/_base.scss */
.home-catalog .home-item a {
  color: #000;
  text-decoration: none;
}
/* line 81, sass/_base.scss */
.home-catalog .home-item a:hover {
  color: #6982D9;
}

/* line 88, sass/_base.scss */
.featured-item {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
/* line 14, sass/_mixins.scss */
.featured-item:before, .featured-item:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.featured-item:after {
  clear: both;
}
@media (min-width: 992px) {
  /* line 88, sass/_base.scss */
  .featured-item {
    width: 100%;
  }
}
/* line 92, sass/_base.scss */
.featured-item .featured-image {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 768px) {
  /* line 92, sass/_base.scss */
  .featured-item .featured-image {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 92, sass/_base.scss */
  .featured-item .featured-image {
    width: 58.33333%;
  }
}
@media (min-width: 992px) {
  /* line 92, sass/_base.scss */
  .featured-item .featured-image {
    width: 58.33333%;
  }
}
/* line 99, sass/_base.scss */
.featured-item .featured-image img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
/* line 104, sass/_base.scss */
.featured-item .featured-info {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  background-color: #212121;
  color: #fff;
  padding: 10px 30px;
}
@media (min-width: 768px) {
  /* line 104, sass/_base.scss */
  .featured-item .featured-info {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 104, sass/_base.scss */
  .featured-item .featured-info {
    width: 58.33333%;
  }
}
@media (min-width: 992px) {
  /* line 104, sass/_base.scss */
  .featured-item .featured-info {
    width: 41.66667%;
  }
}

/* line 116, sass/_base.scss */
.featured-bar {
  background-color: #707070;
  padding: 10px 30px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* line 126, sass/_base.scss */
.button {
  transition: background-color 0.5s ease;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 40px;
  background: #8B69D9;
  border: none;
  color: #fff;
}

/* line 138, sass/_base.scss */
.button:hover {
  cursor: pointer;
  transition: background-color 0.5s ease;
  background: #6982D9;
  text-decoration: none;
}

/* line 146, sass/_base.scss */
.button-small {
  transition: background-color 0.5s ease;
  padding: 5px 17px;
  border-radius: 40px;
  background: #8B69D9;
  border: none;
  color: #fff;
}

/* line 155, sass/_base.scss */
.button-small:hover {
  cursor: pointer;
  transition: background-color 0.5s ease;
  background: #6982D9;
  text-decoration: none;
}

/* line 163, sass/_base.scss */
.button-a {
  transition: background-color 0.5s ease;
  display: block;
  width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 40px;
  background: #8B69D9;
  border: none;
  color: #fff;
  font-size: 1.4em;
  font-weight: 700;
  text-decoration: none;
}

/* line 182, sass/_base.scss */
.button-a:hover {
  text-decoration: none;
  transition: background-color 0.5s ease;
  background: #6982D9;
  color: #fff;
  cursor: pointer;
}

/* line 190, sass/_base.scss */
.button-delete {
  transition: background-color 0.5s ease;
  margin-left: 15px;
  display: block;
  width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 40px;
  background: #e13434;
  border: none;
  color: #fff;
  font-size: 1.4em;
  font-weight: 700;
  text-decoration: none;
}

/* line 209, sass/_base.scss */
.button-delete:hover {
  text-decoration: none;
  transition: background-color 0.5s ease;
  background: #ba2929;
  color: #fff;
  cursor: pointer;
}

/* line 217, sass/_base.scss */
.button-inline {
  transition: background-color 0.5s ease;
  padding: 10px 20px;
  border-radius: 40px;
  background: #8B69D9;
  border: none;
  color: #fff;
  margin-left: 20px;
}

/* line 227, sass/_base.scss */
.button-inline:hover {
  text-decoration: none;
  transition: background-color 0.5s ease;
  background: #6982D9;
  color: #fff;
  cursor: pointer;
}

/* line 236, sass/_base.scss */
.form-group .form-update {
  float: left;
  width: 65% !important;
}

/* line 244, sass/_base.scss */
.card .form-update {
  float: left;
  width: 65% !important;
}

/* line 14, sass/_mixins.scss */
form:before, form:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
form:after {
  clear: both;
}

/* line 253, sass/_base.scss */
textarea#product_description {
  height: 120px;
}

/* line 257, sass/_base.scss */
.social-testimonial {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  /* line 257, sass/_base.scss */
  .social-testimonial {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 257, sass/_base.scss */
  .social-testimonial {
    width: 100%;
  }
}
/* line 14, sass/_mixins.scss */
.social-testimonial:before, .social-testimonial:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.social-testimonial:after {
  clear: both;
}
/* line 265, sass/_base.scss */
.social-testimonial .testimonial-card {
  position: relative;
  width: 33.33333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  padding: 20px 10px;
}
@media (min-width: 768px) {
  /* line 265, sass/_base.scss */
  .social-testimonial .testimonial-card {
    width: 25%;
  }
}
@media (min-width: 992px) {
  /* line 265, sass/_base.scss */
  .social-testimonial .testimonial-card {
    width: 25%;
  }
}

/* line 275, sass/_base.scss */
.card {
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 6px;
}
/* line 279, sass/_base.scss */
.card img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
/* line 14, sass/_mixins.scss */
.card:before, .card:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.card:after {
  clear: both;
}

/* line 287, sass/_base.scss */
.page-title {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #818181;
  text-align: left;
  color: #fff;
  margin-top: 20px;
  padding: 6px 30px;
}
@media (min-width: 768px) {
  /* line 287, sass/_base.scss */
  .page-title {
    width: 25%;
  }
}
@media (min-width: 992px) {
  /* line 287, sass/_base.scss */
  .page-title {
    width: 25%;
  }
}
/* line 14, sass/_mixins.scss */
.page-title:before, .page-title:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.page-title:after {
  clear: both;
}

/* line 300, sass/_base.scss */
.lrg-txt {
  height: auto !important;
}

/* line 304, sass/_base.scss */
.take-me {
  background-color: #212121;
  width: 100%;
  padding: 8px 0px;
  color: #fff;
  font-size: 1.3em;
}
/* line 311, sass/_base.scss */
.take-me a {
  color: #fff !important;
}

/* line 14, sass/_mixins.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.row:after {
  clear: both;
}

/* line 319, sass/_base.scss */
.order-card {
  width: 50%;
  padding: 10px;
  float: left;
}

/* line 2, sass/_scaffold.scss */
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 6, sass/_scaffold.scss */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

/* line 11, sass/_scaffold.scss */
body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  font-size: 1em;
  font-weight: 500;
}

/* line 20, sass/_scaffold.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 32, sass/_scaffold.scss */
a {
  text-decoration: none;
}
/* line 36, sass/_scaffold.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* line 53, sass/_scaffold.scss */
figure {
  margin: 0;
}

/* line 60, sass/_scaffold.scss */
img {
  vertical-align: middle;
}

/* line 65, sass/_scaffold.scss */
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

/* line 70, sass/_scaffold.scss */
.img-rounded {
  border-radius: 50%;
}

/* line 80, sass/_scaffold.scss */
.img-circle {
  border-radius: 50%;
}

/* line 1, sass/_navigation.scss */
.navigation {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #212121;
  padding: 20px;
  -moz-box-shadow: 0px 2px 23px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 23px 0px rgba(0, 0, 0, 0.5);
}
/* line 14, sass/_mixins.scss */
.navigation:before, .navigation:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.navigation:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 1, sass/_navigation.scss */
  .navigation {
    width: 25%;
  }
}
@media (min-width: 992px) {
  /* line 1, sass/_navigation.scss */
  .navigation {
    width: 25%;
  }
}
@media (min-width: 992px) {
  /* line 1, sass/_navigation.scss */
  .navigation {
    position: fixed;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 1, sass/_navigation.scss */
  .navigation {
    position: fixed;
    height: 100%;
  }
}

/* line 24, sass/_navigation.scss */
.logo img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

/* line 30, sass/_navigation.scss */
.search {
  margin-top: 30px;
}
/* line 33, sass/_navigation.scss */
.search form .search-input {
  width: 75%;
  height: 40px;
  border: none;
  padding: 10px 10px;
  background: #616161;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: medium;
}

/* line 47, sass/_navigation.scss */
.search-submit {
  padding: 10px 9px;
  left: -4px;
  top: -3px;
  color: white;
  border: none;
  background-color: #7C7C7C;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: small;
  /* margin-bottom: 10px; */
  position: relative;
}

/* line 61, sass/_navigation.scss */
.search-submit:hover {
  cursor: pointer;
  background-color: #9B9696;
}

/* line 66, sass/_navigation.scss */
.account-status {
  float: left;
  padding: 15px 25px;
  font-weight: 300;
  font-size: 1.1em;
}

/* line 75, sass/_navigation.scss */
.nav-links {
  padding: 15px 15px;
  font-size: 2em;
}
/* line 78, sass/_navigation.scss */
.nav-links a {
  color: #fff;
}
/* line 81, sass/_navigation.scss */
.nav-links a:hover {
  text-decoration: none;
  transition: background-color 1s ease;
  color: #6982D9;
}

/* line 88, sass/_navigation.scss */
.credits {
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  padding-right: 15px;
  padding-bottom: 30px;
}

/* line 97, sass/_navigation.scss */
.footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
/* line 14, sass/_mixins.scss */
.footer:before, .footer:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.footer:after {
  clear: both;
}

/* line 1, sass/_product.scss */
.product {
  margin-top: 20px;
}
/* line 14, sass/_mixins.scss */
.product:before, .product:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.product:after {
  clear: both;
}

/* line 5, sass/_product.scss */
.product-gallery {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
@media (min-width: 768px) {
  /* line 5, sass/_product.scss */
  .product-gallery {
    width: 50%;
  }
}
@media (min-width: 992px) {
  /* line 5, sass/_product.scss */
  .product-gallery {
    width: 50%;
  }
}
/* line 10, sass/_product.scss */
.product-gallery img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

/* line 15, sass/_product.scss */
.product-content {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  padding: 0px 40px;
}
@media (min-width: 768px) {
  /* line 15, sass/_product.scss */
  .product-content {
    width: 50%;
  }
}
@media (min-width: 992px) {
  /* line 15, sass/_product.scss */
  .product-content {
    width: 50%;
  }
}

/* line 2, sass/_cart.scss */
.cart-head {
  border-bottom: 2px solid #000;
  padding: 10px 10px;
  margin-top: 20px;
}
/* line 14, sass/_mixins.scss */
.cart-head:before, .cart-head:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.cart-head:after {
  clear: both;
}

/* line 9, sass/_cart.scss */
.cart-body {
  border-bottom: 1px solid #cecece;
  padding: 10px 10px;
  margin-top: 10px;
}
/* line 14, sass/_mixins.scss */
.cart-body:before, .cart-body:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.cart-body:after {
  clear: both;
}

/* line 15, sass/_cart.scss */
.cart-item {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
@media (min-width: 768px) {
  /* line 15, sass/_cart.scss */
  .cart-item {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 15, sass/_cart.scss */
  .cart-item {
    width: 16.66667%;
  }
}
@media (min-width: 992px) {
  /* line 15, sass/_cart.scss */
  .cart-item {
    width: 16.66667%;
  }
}
/* line 20, sass/_cart.scss */
.cart-item img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

/* line 24, sass/_cart.scss */
.cart-info {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
@media (min-width: 768px) {
  /* line 24, sass/_cart.scss */
  .cart-info {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 24, sass/_cart.scss */
  .cart-info {
    width: 33.33333%;
  }
}
@media (min-width: 992px) {
  /* line 24, sass/_cart.scss */
  .cart-info {
    width: 33.33333%;
  }
}

/* line 30, sass/_cart.scss */
.cart-quantity {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
@media (min-width: 768px) {
  /* line 30, sass/_cart.scss */
  .cart-quantity {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 30, sass/_cart.scss */
  .cart-quantity {
    width: 16.66667%;
  }
}
@media (min-width: 992px) {
  /* line 30, sass/_cart.scss */
  .cart-quantity {
    width: 16.66667%;
  }
}
/* line 35, sass/_cart.scss */
.cart-quantity h1 {
  font-size: 8em;
  font-weight: 100;
  padding-left: 20px;
}

/* line 41, sass/_cart.scss */
.cart-price {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
@media (min-width: 768px) {
  /* line 41, sass/_cart.scss */
  .cart-price {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 41, sass/_cart.scss */
  .cart-price {
    width: 33.33333%;
  }
}
@media (min-width: 992px) {
  /* line 41, sass/_cart.scss */
  .cart-price {
    width: 33.33333%;
  }
}
/* line 46, sass/_cart.scss */
.cart-price h1 {
  font-size: 8em;
  font-weight: 100;
}

/* line 54, sass/_cart.scss */
.cart-footer {
  padding: 10px 50px;
  margin-top: 10px;
  float: right;
}
/* line 14, sass/_mixins.scss */
.cart-footer:before, .cart-footer:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.cart-footer:after {
  clear: both;
}
/* line 59, sass/_cart.scss */
.cart-footer .button-a {
  float: right;
}

/* line 64, sass/_cart.scss */
.subtotal {
  font-size: 2em;
  font-weight: 100;
}

/* line 1, sass/_checkout.scss */
.check-out {
  margin-top: 30px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  /* line 1, sass/_checkout.scss */
  .check-out {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 1, sass/_checkout.scss */
  .check-out {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 1, sass/_checkout.scss */
  .check-out {
    width: 100%;
  }
}
/* line 14, sass/_mixins.scss */
.check-out:before, .check-out:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.check-out:after {
  clear: both;
}

/* line 8, sass/_checkout.scss */
.user-info {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0px 20px;
  float: left;
  font-size: 1.3em;
}
@media (min-width: 768px) {
  /* line 8, sass/_checkout.scss */
  .user-info {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 8, sass/_checkout.scss */
  .user-info {
    width: 50%;
  }
}
@media (min-width: 992px) {
  /* line 8, sass/_checkout.scss */
  .user-info {
    width: 50%;
  }
}
/* line 15, sass/_checkout.scss */
.user-info h3 {
  margin-bottom: 20px;
}

/* line 20, sass/_checkout.scss */
.product-review {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  font-size: 1em;
}
@media (min-width: 768px) {
  /* line 20, sass/_checkout.scss */
  .product-review {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 20, sass/_checkout.scss */
  .product-review {
    width: 50%;
  }
}
@media (min-width: 992px) {
  /* line 20, sass/_checkout.scss */
  .product-review {
    width: 50%;
  }
}

/* line 30, sass/_checkout.scss */
.form-group {
  padding: 0px 15px;
  margin-bottom: 15px;
}

/* line 35, sass/_checkout.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 42, sass/_checkout.scss */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* line 60, sass/_checkout.scss */
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* line 14, sass/_mixins.scss */
.form-row:before, .form-row:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.form-row:after {
  clear: both;
}

/* line 70, sass/_checkout.scss */
.c-5 {
  width: 50%;
  padding: 0px 15px;
  float: left;
}

/* line 77, sass/_checkout.scss */
.border-bottom {
  border-bottom: 1px solid #cecece;
}

/* line 80, sass/_checkout.scss */
.review-row {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  /* line 80, sass/_checkout.scss */
  .review-row {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 80, sass/_checkout.scss */
  .review-row {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 80, sass/_checkout.scss */
  .review-row {
    width: 100%;
  }
}
/* line 14, sass/_mixins.scss */
.review-row:before, .review-row:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.review-row:after {
  clear: both;
}
/* line 85, sass/_checkout.scss */
.review-row h3 {
  margin-top: 15px;
}

/* line 90, sass/_checkout.scss */
.review-item {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
@media (min-width: 768px) {
  /* line 90, sass/_checkout.scss */
  .review-item {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 90, sass/_checkout.scss */
  .review-item {
    width: 41.66667%;
  }
}
@media (min-width: 992px) {
  /* line 90, sass/_checkout.scss */
  .review-item {
    width: 41.66667%;
  }
}

/* line 96, sass/_checkout.scss */
.review-price {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
@media (min-width: 768px) {
  /* line 96, sass/_checkout.scss */
  .review-price {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 96, sass/_checkout.scss */
  .review-price {
    width: 25%;
  }
}
@media (min-width: 992px) {
  /* line 96, sass/_checkout.scss */
  .review-price {
    width: 25%;
  }
}

/* line 102, sass/_checkout.scss */
.review-quantity {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
@media (min-width: 768px) {
  /* line 102, sass/_checkout.scss */
  .review-quantity {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 102, sass/_checkout.scss */
  .review-quantity {
    width: 33.33333%;
  }
}
@media (min-width: 992px) {
  /* line 102, sass/_checkout.scss */
  .review-quantity {
    width: 33.33333%;
  }
}

/* line 1, sass/_client.scss */
.client-info {
  margin-top: 30px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  /* line 1, sass/_client.scss */
  .client-info {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 1, sass/_client.scss */
  .client-info {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 1, sass/_client.scss */
  .client-info {
    width: 100%;
  }
}
/* line 14, sass/_mixins.scss */
.client-info:before, .client-info:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.client-info:after {
  clear: both;
}

/* line 9, sass/_client.scss */
.user-info {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0px 20px;
  float: left;
  font-size: 1.3em;
}
@media (min-width: 768px) {
  /* line 9, sass/_client.scss */
  .user-info {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 9, sass/_client.scss */
  .user-info {
    width: 50%;
  }
}
@media (min-width: 992px) {
  /* line 9, sass/_client.scss */
  .user-info {
    width: 50%;
  }
}
/* line 16, sass/_client.scss */
.user-info h3 {
  margin-bottom: 20px;
}

/* line 21, sass/_client.scss */
.card-max {
  padding: 25px 25px;
}

/* line 25, sass/_client.scss */
.card-min {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  background: #E7E7E7;
  border: none;
  margin-bottom: 12px;
}
/* line 32, sass/_client.scss */
.card-min p {
  margin: 0px;
  padding-top: 4px;
  float: left;
}
/* line 37, sass/_client.scss */
.card-min a {
  float: right;
}

/* line 1, sass/_table.scss */
.table {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  /* line 1, sass/_table.scss */
  .table {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 1, sass/_table.scss */
  .table {
    width: 100%;
  }
}
/* line 6, sass/_table.scss */
.table .table-header {
  padding: 25px;
  border-bottom: 2px solid #cecece;
}
/* line 9, sass/_table.scss */
.table .table-header .item {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 9, sass/_table.scss */
  .table .table-header .item {
    width: 16.66667%;
  }
}
@media (min-width: 992px) {
  /* line 9, sass/_table.scss */
  .table .table-header .item {
    width: 16.66667%;
  }
}

/* line 19, sass/_table.scss */
.table-body {
  padding: 8px;
  border-bottom: 1px solid #cecece;
}
/* line 14, sass/_mixins.scss */
.table-body:before, .table-body:after {
  content: " ";
  display: table;
}
/* line 19, sass/_mixins.scss */
.table-body:after {
  clear: both;
}
/* line 23, sass/_table.scss */
.table-body .item {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 23, sass/_table.scss */
  .table-body .item {
    width: 16.66667%;
  }
}
@media (min-width: 992px) {
  /* line 23, sass/_table.scss */
  .table-body .item {
    width: 16.66667%;
  }
}

/* line 1, sass/_stephani.scss */
#page-content {
  padding: 30px;
}

/* line 5, sass/_stephani.scss */
#page-content h3 {
  font-size: 2em;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 11, sass/_stephani.scss */
#page-content h4 {
  font-size: 1.6em;
  font-weight: bold;
}

/* line 16, sass/_stephani.scss */
#page-content p {
  margin-bottom: 10px;
}

/* line 20, sass/_stephani.scss */
#page-content ul {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 10px;
}

/* line 27, sass/_stephani.scss */
.bottom-nav {
  position: absolute;
  bottom: 0;
  padding-bottom: 0px;
  padding-left: 11px;
}

/* line 35, sass/_stephani.scss */
.bottom-nav ul li {
  float: left;
  padding: 10px;
  color: #ffffff;
  font-size: 1.5em;
}

/* line 42, sass/_stephani.scss */
.bottom-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* line 47, sass/_stephani.scss */
.bottom-nav a:hover {
  color: #6982D9;
}

/* line 51, sass/_stephani.scss */
.bottom-nav li:before {
  padding-right: 5px;
}

/* line 56, sass/_stephani.scss */
.bottom-nav li:first-child:before {
  content: none;
}

@media screen and (max-width: 768px) {
  /* line 3, sass/_nevy.scss */
  .search {
    float: right;
    margin-top: -48px;
  }

  /* line 7, sass/_nevy.scss */
  .nav-links {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  /* line 14, sass/_mixins.scss */
  .nav-links:before, .nav-links:after {
    content: " ";
    display: table;
  }
  /* line 19, sass/_mixins.scss */
  .nav-links:after {
    clear: both;
  }

  /* line 14, sass/_nevy.scss */
  .nav-links li {
    display: inline;
    padding: 25px;
  }

  /* line 18, sass/_nevy.scss */
  .credits {
    position: relative;
    margin-top: 30px;
  }

  /* line 23, sass/_nevy.scss */
  .cart-item {
    width: 20%;
  }

  /* line 27, sass/_nevy.scss */
  .cart-info {
    width: 30%;
  }

  /* line 31, sass/_nevy.scss */
  .cart-info h1 {
    font-size: 2.3em;
  }

  /* line 35, sass/_nevy.scss */
  .cart-quantity {
    width: 20%;
  }

  /* line 39, sass/_nevy.scss */
  .cart-quantity h1 {
    font-size: 5em;
  }

  /* line 44, sass/_nevy.scss */
  .cart-price {
    width: 20%;
  }

  /* line 48, sass/_nevy.scss */
  .cart-price h1 {
    font-size: 5em;
  }
}
