.client-info{
	margin-top: 30px;
	@include make-sm-column(12);
	@include make-md-column(12);
	@include make-md-column(12);
	@include clearfix();
}

.user-info{
	@include make-sm-column(12);
	@include make-md-column(6);
	@include make-md-column(6);
	padding: 0px 20px;
	float: left;
	font-size: $base-font-size;
	h3{
		margin-bottom: 20px;
	}
}

.card-max{
		padding: 25px 25px;
	}

.card-min{
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 8px;
	background: #E7E7E7;
	border: none;
	margin-bottom: 12px;
	p{
		margin: 0px;
		padding-top: 4px;
		float: left;
	}
	a{
		float: right;
	}
}
