.navigation{
	@include clearfix();
    @include make-xs-column(12);
    @include make-sm-column(3);
    @include make-md-column(3);
	
	background-color: #212121;
	padding: 20px;
	-moz-box-shadow: 0px 2px 23px 0px rgba(0,0,0,0.50); 
	box-shadow: 0px 2px 23px 0px rgba(0,0,0,0.50);
	@include breakpoint (md){
		position: fixed;
		height: 100%;
	} 
	@include breakpoint (lg){
		position: fixed;
		height: 100%;
	}
	
}

.logo{

	img{
		@include img-responsive();
	}
}


.search{
	margin-top: 30px;
	form{
		.search-input{
			width: 75%;
			height: 40px;
			border: none;
			padding: 10px 10px;
			background: #616161;
			color: white;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			font-size: medium;
		}
	}
}

.search-submit{
	padding: 10px 9px;
	left: -4px;
	top: -3px;
	color: white;
	border: none;
	background-color: #7C7C7C;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: small;
	/* margin-bottom: 10px; */
	position: relative;
}

.search-submit:hover{
	cursor: pointer;
	background-color:#9B9696;
}

.account-status{
	float: left;
padding: 15px 25px;
font-weight: 300;
font-size: 1.1em;
}



.nav-links{
	padding: 15px 15px;
	font-size: 2em;
	a{
		color: #fff;
	}
	a:hover{
		text-decoration: none;
		transition: background-color 1s ease;
		color: #6982D9;
	}
}

.credits{
	position: absolute;
	bottom: 0;
	color: #fff;
	text-align: center;
	padding-right: 15px;
	padding-bottom: 30px;
}

.footer{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
	@include clearfix();
}